In [3]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# 1. Data gathering

In [4]:
df=pd.read_csv("medical_insurance.csv")
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

# Exploratory Data analysis

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [6]:
df.isna().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

### 1.sex

In [7]:
df['sex']

0       female
1         male
2         male
3         male
4         male
         ...
1333      male
1334    female
1335    female
1336    female
1337    female
Name: sex, Length: 1338, dtype: object

In [8]:
df['sex'].replace({"female": 0, "male": 1}, inplace=True)

In [9]:
sex_value = {"female": 0, "male": 1}
sex_value

{'female': 0, 'male': 1}

### 2. smoker

In [10]:
df['smoker'].replace({"yes": 0, "no": 1}, inplace=True)

In [11]:
smoker_value= {"yes": 0, "no": 1}
smoker_value

{'yes': 0, 'no': 1}

### 3. region

In [12]:
df['region']

0       southwest
1       southeast
2       southeast
3       northwest
4       northwest
          ...
1333    northwest
1334    northeast
1335    southeast
1336    southwest
1337    northwest
Name: region, Length: 1338, dtype: object

In [13]:
df['region'].value_counts()

southeast    364
southwest    325
northwest    325
northeast    324
Name: region, dtype: int64

In [14]:
df['region'].value_counts().to_dict()

{'southeast': 364, 'southwest': 325, 'northwest': 325, 'northeast': 324}

In [15]:
df= pd.get_dummies(df, columns=['region'])
df

,age,sex,bmi,children,smoker,charges,region_northeast,region_northwest,region_southeast,region_southwest
0,19,0,27.900,0,0,16884.92400,0,0,0,1
1,18,1,33.770,1,1,1725.55230,0,0,1,0
2,28,1,33.000,3,1,4449.46200,0,0,1,0
3,33,1,22.705,0,1,21984.47061,0,1,0,0
4,32,1,28.880,0,1,3866.85520,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...
1333,50,1,30.970,3,1,10600.54830,0,1,0,0
1334,18,0,31.920,0,1,2205.98080,1,0,0,0
1335,18,0,36.850,0,1,1629.83350,0,0,1,0
1336,21,0,25.800,0,1,2007.94500,0,0,0,1
1337,61,0,29.070,0,0,29141.36030,0,1,0,0

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age               1338 non-null   int64
 1   sex               1338 non-null   int64
 2   bmi               1338 non-null   float64
 3   children          1338 non-null   int64
 4   smoker            1338 non-null   int64
 5   charges           1338 non-null   float64
 6   region_northeast  1338 non-null   uint8
 7   region_northwest  1338 non-null   uint8
 8   region_southeast  1338 non-null   uint8
 9   region_southwest  1338 non-null   uint8
dtypes: float64(2), int64(4), uint8(4)
memory usage: 68.1 KB

# Train test split

In [17]:
df = df.select_dtypes(exclude=object)

In [18]:
x = df.drop("charges", axis=1)
y= df['charges']

In [19]:
x_train, y_train, x_test, y_test= train_test_split(x,y, test_size=0.2, random_state=11)

In [20]:
y_test

1313    36397.576000
1254     4415.158800
372      7639.417450
937      8965.795750
484      9563.029000
            ...
427      7323.734819
1153     5630.457850
973      1759.338000
608      4435.094200
775     10560.491700
Name: charges, Length: 268, dtype: float64

In [21]:
df = df.select_dtypes(exclude=object)

x = df.drop("charges", axis = 1)
y = df['charges']

x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=25)

In [22]:
x_train

,age,sex,bmi,children,smoker,region_northeast,region_northwest,region_southeast,region_southwest
629,44,0,38.950,0,0,0,1,0,0
556,46,1,33.440,1,1,1,0,0,0
427,18,0,29.165,0,1,1,0,0,0
1047,22,1,52.580,1,0,0,0,1,0
98,56,1,19.950,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...
886,57,1,28.975,0,0,1,0,0,0
143,29,1,29.735,2,1,0,1,0,0
474,54,1,25.100,3,0,0,0,0,1
318,44,0,27.645,0,1,0,1,0,0
1156,19,1,44.880,0,0,0,0,1,0

# Model training

In [23]:
model = LinearRegression()
model.fit(x_train, y_train)

LinearRegression()

In [24]:
# Testing Dataset
y_pred = model.predict(x_test)

mse = mean_squared_error(y_test, y_pred)
print("MSE :",mse)

rmse = np.sqrt(mse)
print("RMSE :",rmse)

mae = mean_absolute_error(y_test, y_pred)
print("MAE :",mae)

r2 = r2_score(y_test, y_pred)
print("R Squared :",r2)

MSE : 34633295.92978118
RMSE : 5885.006026316471
MAE : 4283.190084376348
R Squared : 0.7547037664450409

In [25]:
# training Data Set
y_pred_train = model.predict(x_train)

mse = mean_squared_error(y_train, y_pred_train)
print("MSE :",mse)

rmse = np.sqrt(mse)
print("RMSE :",rmse)

mae = mean_absolute_error(y_train, y_pred_train)
print("MAE :",mae)

r2 = r2_score(y_train, y_pred_train)
print("R Squared :",r2)

MSE : 37103631.535598874
RMSE : 6091.27503365255
MAE : 4193.745575505876
R Squared : 0.7490732999835242

# Testing on rows

In [26]:
column_names = x.columns
len(column_names)

9

In [27]:
column_names

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region_northeast',
       'region_northwest', 'region_southeast', 'region_southwest'],
      dtype='object')

In [28]:
x.head(1).T

                     0
age               19.0
sex                0.0
bmi               27.9
children           0.0
smoker             0.0
region_northeast   0.0
region_northwest   0.0
region_southeast   0.0
region_southwest   1.0

In [29]:
age = 43
sex = "male"
bmi = 27.9
children = 3
smoker = "yes"
region = "southeast"

In [30]:
print(sex_value)
print(smoker_value)
print(column_names)

{'female': 0, 'male': 1}
{'yes': 0, 'no': 1}
Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region_northeast',
       'region_northwest', 'region_southeast', 'region_southwest'],
      dtype='object')

In [31]:
project_data = {"sex": sex_value, "smoker": smoker_value, "columns": list(column_names)}
project_data

{'sex': {'female': 0, 'male': 1},
 'smoker': {'yes': 0, 'no': 1},
 'columns': ['age',
  'sex',
  'bmi',
  'children',
  'smoker',
  'region_northeast',
  'region_northwest',
  'region_southeast',
  'region_southwest']}

In [32]:
project_data['smoker'][smoker]

0

In [33]:
region = "region_" + region
region

'region_southeast'

In [34]:
region_index = np.where(column_names == region)[0][0]
region_index

7

In [35]:
array = np.zeros(x.shape[1])
array[0] = age
array[1] = project_data['sex'][sex]
array[2] = bmi
array[3] = children
array[4] = project_data['smoker'][smoker]
array[region_index] = 1

print(array)

[43.   1.  27.9  3.   0.   0.   0.   1.   0. ]

In [36]:
model.predict([array])[0]

C:\Users\Rahul\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

32843.26088602497

In [37]:
import pickle

with open("Linear_model.pkl", 'wb') as f:
    pickle.dump(model, f)

In [38]:
import json

with open("project_data.json", "w") as f:
    json.dump(project_data, f)

In [39]:
predicted_price = model.predict([array])[0]
print("predicted price of your home :", predicted_price, "lakh")

predicted price of your home : 32843.26088602497 lakh

C:\Users\Rahul\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(